beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
loguru==0.7.2
markdown2==2.4.11
minify_html==0.11.1
natsort==8.4.0
Pygments==2.17.2
python-magic==0.4.27
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
svgwrite==1.4.3
trilium-py==0.8.5
urllib3==2.1.0
wavedrom==2.0.3.post3